<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiaoan_science.mapper.CractResMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qiaoan_science.pojo.CractRes">
        <id column="id" property="id" />
        <result column="brige_name" property="brigeName" />
        <result column="brige_location" property="brigeLocation" />
        <result column="crack_width" property="crackWidth" />
        <result column="crack_deepth" property="crackDeepth" />
        <result column="pic" property="pic" />
        <result column="detect_date" property="detectDate" />
        <result column="company" property="company" />
        <result column="danger_grade" property="dangerGrade" />
        <result column="crack_from" property="crackFrom" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, brige_name, brige_location, crack_width, crack_deepth,
pic, detect_date, company, danger_grade,crack_from
    </sql>

</mapper>
